<h1>Listing book_search_histories_!</h1>

<table>
  <tr>
    <th>Book name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Search count&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_search_histories.each do |book_search_history| %>
  <tr>
    <td><%= book_search_history.book_name %></td>
    <td><%= book_search_history.search_count %></td>
    <td><%= link_to 'Show', book_search_history %></td>
    <td><%= link_to 'Edit', edit_book_search_history_path(book_search_history) %></td>
    <td><%= link_to 'Destroy', book_search_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book search history', new_book_search_history_path %>
